.container {
    display: grid;
    grid-template-columns: 240px 1fr;
    height: 100vh;
    background: #1e1e1e;
}

.archivos {
    background: #252526;
    color: #ccc;
    padding: 12px;
    border-right: 1px solid #333;
    font-size: 14px;
}

.archivos h3 {
    font-size: 13px;
    color: #888;
    margin-bottom: 10px;
}

.archivos div {
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.archivos div:hover {
    background: #37373d;
}

.main {
    display: flex;
    flex-direction: column;
}

.barra {
    background: #2d2d2d;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #1e1e1e;
}

.editor {
    flex: 1;
    background: #1e1e1e;
    color: #d4d4d4;
    font-family: "Consolas", "Courier New", monospace;
    font-size: 14px;
    padding: 16px;
    border: none;
    outline: none;
    resize: none;
}

.editor::selection {
    background: #9f5a63;
}

.consola {
    background-color: #1e1e1e;
    border-top: 1px solid #333;
    color: #d4d4d4;
    font-family: "Consolas", "Courier New", monospace;
    font-size: 13px;
    padding: 12px;
    height: 200px;
    overflow-y: auto;
    white-space: pre-wrap;
    text-align: left;
}

.btn {
    background: #3c3c3c;
    color: #ffffff;
    border: none;
    padding: 6px 12px;
    margin-right: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    transition: all 0.2s ease;
}

.btn:hover {
    background: #9f5a63;
}

.btn:active {
    transform: scale(0.95);
}

.btnA {
    background: #3c3c3c;
    color: #ffffff;
    border: none;
    padding: 6px 12px;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    transition: all 0.2s ease;
}

.btnA:hover {
    background: #9f5a63;
}

.btnA:active {
    transform: scale(0.95);
}

.archivo-item {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    cursor: pointer;
    
}

.archivo-item.activo {
    background-color: #9f5a63;
    color: white;
    border-radius: 4px;
}

.archivo-item span {
    cursor: pointer;
    flex: 1;
}

.btn-eliminar {
    background: transparent;
    border: none;
    color: red;
    cursor: pointer;
}

.btn-eliminar:hover {
    color: #ff4d4d;
}
